
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.contenedor {
    flex-grow: inherit;
    display: flex; 
    flex-wrap: wrap; /* Permite que los elementos hijos se ajusten y se envuelvan en una nueva línea si no caben en una sola */
    justify-content: center; /* Centra los elementos hijos horizontalmente dentro del contenedor */
    align-items: center; /* Centra los elementos hijos verticalmente dentro del contenedor */
    width: 80%; 
    max-width: 1000px; 
    background-color: #ffffff; 
    padding: 20px; 
    border: 2px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra suave debajo del contenedor para dar un efecto de profundidad */
}

.carta {
    border: 2px solid;  /* Borde oscuro */
    width: 150px;
    height: 150px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 150px; /* Centra el texto verticalmente */
    font-size: 18px;
    color: #333;
}

/* Colores y orden de las cartas */
.carta1 {
    background-color: #e0f7fa; /* Azul claro */
    border-color: #00796b;  /* Borde azul más oscuro */
    order: 1;
}

.carta2 {
    background-color: #ffebee; /* Rosa claro */
    border-color: #c62828;  /* Borde rojo más oscuro */
    order: 2;
}

.carta3 {

    background-color: #e8f5e9; /* Verde claro */
    border-color: #2e7d32;  /* Borde verde más oscuro */
    order: 3;
}

.carta4 {
    background-color: #fff3e0; /* Naranja claro */
    border-color: #ef6c00;  /* Borde naranja más oscuro */
    order: 4;
}

.carta5 {
    background-color: #ede7f6; /* Morado claro */
    border-color: #5e35b1;  /* Borde morado más oscuro */
    order: 5;
}